xml/menu.dtd

<!ELEMENT menu (meals, beverages)>
<!ELEMENT meals (meal+)>
<!ELEMENT meal (name, (price | sizes), (image)?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT sizes (size+)>
<!ELEMENT size (name, price, (description)?)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT beverages (beverage+)>
<!ELEMENT beverage (name, (sizes | price), (image)?)>

